.fifth-floor {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 0;
	padding: 9.56vw 14.31vw 8.93vw 14.19vw;
	background: #2C2C2C;
}
.fifth-floor > h2 {
	margin: 0 0 1.05vw 0;
	font-family: "Open Sans", sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 2.66vw;
	line-height: 1.52vw;
	letter-spacing: 0.07vw;
	color: #FFFFFF;
}
.fifth-floor > p {
	margin: 0 0 3.6vw 0;
	font-family: "Open Sans", sans-serif;
	font-size: 1.01vw;
	line-height: 1.77vw;
	color: #FFFFFF;
}
.fff-form {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	width: 50.13vw;
}
.fff-form > input {
	padding: 0 0 0 2.41vw;
	width: 33.19vw;
	height: 5.19vw;
	font-family: "Open Sans", sans-serif;
	font-size: 1.01vw;
	line-height: 1.52vw;
	display: flex;
	align-items: center;
	letter-spacing: 0.03vw;
	color: #2C2C2C;
	border-radius: 0.4vw;
	border-width: 0;
}
.fff-form > button {
	margin: 0;
	padding: 0;
	width: 13.74vw;
	height: 5.19vw;
	background: #FF2D2D;
	border-radius: 0.4vw;
	border-width: 0;
	font-style: normal;
	font-weight: bold;
	font-size: 1.13vw;
	line-height: 2.15vw;
	letter-spacing: 0.02vw;
	text-transform: uppercase;
	color: #FFFFFF;
	cursor: pointer;
}