footer {
	width: 100%;
	height: 7.67vw;
	background: #313030;
	display: flex;
	justify-content: space-between;
}
.footer-lable {
	margin: 0;
	margin: 3.6vw 0 0 11.6vw;
	font-family: "Open Sans", sans-serif;
	font-size: 1.01vw;
	color: #B8B8B8;
}
.footer-social {
	display: flex;
	margin: 3.28vw 11.4vw 0 0;
}
.footer-social > a {
	position: relative;
	margin: 0 0 0 3.23vw;
	background-color: yellow;
	border: 0;
}
.footer-social > a > img {
	position: absolute;
	text-align: center;
	width: 2.09vw;
	height: 2.09vw;
	border-radius: 50%;
	opacity: 0.7;
}
.footer-social > a > img:hover {
	opacity: 1;
}
@media screen and (max-width: 560px) {
   nav {
      opacity: 1;
      background-color: #313030;
   }
   .navigate-list {
      display: none;
   }
   .navigate-flex {
      display: flex;
      justify-content: flex-end;
   }
}
@media screen and (max-width: 1404px) {
	.sf-left, .sf-right {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		width: 100%;
		min-width: 0;
	}
	.sf-left-question, .sf-left-answer {
		width: 100%;
		text-align: center;
	}
	.fourth-floor > h2, .fourth-floor > p {
		width: 100%;
		text-align: center;
	}
	.fourth-floor > hr {
		text-align: center;
	}
}